# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\natha\OneDrive - Ifag Paris\SauvegardeOrdi\Bureau\COURS-EPSI\B3\DEV MOBILE\projet\ProjetDevMobile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
